<a href="https://colab.research.google.com/github/Brun0K9/Estudos-Python-Data-Science/blob/main/C%C3%B3pia_de_Projeto_Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nump = int(input('Digite um número: '))
eh_primo = True
cont = 0
listaP = []

for i in range(2, nump):
        if nump <= 1 :
          eh_primo = False
        elif nump == 2:
          eh_primo = True
        else:
            listaP.append(i)
            cont += 1

listaP

Digite um número: 10

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
nump = int(input('Digite um número: '))
listaP = []

# Loop por cada número de 2 até o número digitado (inclusive)
for num_to_check in range(2, nump + 1):
    is_current_prime = True  # Assumimos que o número atual é primo

    # Condições para números não primos
    if num_to_check <= 1:
        is_current_prime = False
    else:
        # Verifica divisibilidade de 2 até o número-1
        for divisor in range(2, num_to_check):
            if num_to_check % divisor == 0:
                is_current_prime = False  # Encontrou um divisor, não é primo
                break  # Não precisa verificar mais divisores

    # Se o número ainda é considerado primo após as verificações, adicione-o à lista
    if is_current_prime:
        listaP.append(num_to_check)

listaP

Digite um número: 10

[2, 3, 5, 7]

# Python para Data Science

Notebook para o curso de Python para Data Science publicado na plataforma da [Alura](https://www.alura.com.br/)

# Introdução ao Python

Vamos conhecer o Python, nosso ambiente de estudo e também faremos nosso primeiro código nessa linguagem!

## Google Colaboratory

Já aprendemos o que é o [Python](https://www.python.org/) agora vamos aprender a utilzar o [Google Colaboratory](https://colab.research.google.com/) e programar em um notebook.

Vamos testar algumas funções dessa ferramenta.

 **`>>> Use essa célula para mover <<<`**

## Olá mundo!

Vamso conhecer mais como funciona o ambiente interativo de um notebook. Para isso vamos executar nosso primeiro comando em Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print("Olá Mundo!")

Olá Mundo!

In [ ]:
print("Você é 10")

In [ ]:
print("Eu me chamo Bruno e tenho ",20, "anos")

Eu me chamo Bruno e tenho  20 anos

# Manipulando dados

Vamos aprender sobre as variáveis no python, como elas são declaradas e utilizadas além de conhecer outros comandos dentro do Python. :D

## Variáveis

Em Data Science nós trabalhamos com vários dados e informações, então é essencial saber trabalhar com variáveis.

Criamos uma variável no python através da atribuição de um valor a ela.

Para fazer isso, colocamos o nome da variável um sinal de igual (`=`) e o valor que queremos atribuir

In [ ]:
idade = 5

In [ ]:
print(idade)

5

In [ ]:
idadenv = idade + 5
print(idadenv)

10

In [ ]:
idadenv1 = idadenv + idade
idadenv1

15

In [ ]:
nome = "Bruno"
nome

'Bruno'

Nomes que **não** podemos definir para variáveis:

- **Nomes que começam com números**
  - Exemplos: `10_notas`, `2_nomes_casa`, etc.
- **Palavras separada por espaço**
  - Exemplos: `Nome escola`, `notas estudantes`, etc.
- **Nomes de funções do Python**
  - Exemplos: `print`, `type`, etc.

> Letras maiúsculas e minúsculas vão gerar diferentes variáveis. A varíavel `idade` é diferente de `Idade` que por sua vez também é diferente de `IDADE`:
``` Python
idade = 1
Idade = 2
IDADE = 3
_idade = 4
_idade_ = 5
print(idade, Idade, IDADE, _idade, _idade_)
1 2 3 4 5
```

## Tipos de variáveis

Cada variável contém uma classe especifica quanto ao tipo de objeto que ela está se referenciando. Essas classes vão ser diferentes a partir do tipo de dado que nós atribuimos a uma variável.

Para saber a classe de cada elemento usamos a função [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
i = 5
type(i)

int

In [ ]:
f = 0.5
type(f)

float

In [ ]:
s = "Bruno"
type(s)

str

In [ ]:
b = True
type(b)

bool

Em um conjunto de dados escolares podemos ter vários tipos de informações. Digamos que tenhamos acesso à ficha de dados do aluno *Frabicio Daniel* como transformamos ela em variáveis no Python?

#### Ficha:

- Nome: Fabricio Daniel
- Idade: 15 anos
- Media do semestre: 8,45
- Situação de aprovação: Verdadeira (aprovado)

In [ ]:
Nome = 'Fabricio Daniel'
Idade = 15
Media = 8.45
Aprovado = True
print(Nome, Idade, Media, Aprovado)

Fabricio Daniel 15 8.45 True

## Variáveis numéricas

Entre os tipos de dados numéricos vamos nos focar no tipo `inteiro` e `float`.

Temos uma tabela de informação de empregos quanto ao cargo, quantidade de pessoas empregadas e o salário correspondente:

|Cargo | Quantidade | Salário|
|---|---|---|
|Segurança | 5 | 3000 |
|Docente | 16| 6000|
|Diretoria| 1 |12500|

Precisamos trabalhar com esses dados fornecendo:

- A quantidade total de empregados;
- A diferença entre o salário mais baixo e mais alto; e
- A média ponderada da faixa salarial da escola.

In [ ]:
q_seguranca = 5
s_seguranca = 3000

q_docente = 16
s_docente = 6000

q_diretoria = 1
s_diretoria = 12500

In [ ]:
total_empregados = q_seguranca + q_docente + q_diretoria
total_empregados

22

In [ ]:
diferença_salarial = s_diretoria - s_seguranca
diferença_salarial

9500

In [ ]:
media_salarial = (s_diretoria * q_diretoria + s_docente * q_docente + s_seguranca * q_seguranca) / total_empregados
media_salarial

5613.636363636364

## Strings

Strings são caracterizada por ter um conjunto de caracteres formando um texto.

Strigs podem ser criadas ao atribuirmos a uma variável um dado que esteja entre aspas simples (`'`) ou aspas duplas (`"`)

In [ ]:
s1 =  'Alura'
s2 = "Alura"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

As variáveis textuais contém vários métodos que nos ajudam a formatar strings. Métódos podem ser executados ao definirmos um objeto seguindo a seguinte estrutura:

```
objeto.metodo()
```

Existem métodos que não necessitam dos `()`, é preciso verificar a documentação de cada caso.

---
**Situação:**

Recebemos uma variável com o nome de uma professora da escola para inserimos no cadastro. No entanto, precisamos tratar esse texto antes de inserirmos no sistema

In [ ]:
texto = '  Geovana Alessandra dias Sanyos '

O objetivo final é que o nome esteja da seguinte forma:

```
'GEOVANA ALESSANDRA DIAS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Converte uma string para maiúsculas

In [ ]:
texto.upper()

'  GEOVANA ALESSANDRA DIAS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Método converte uma string para minúsculas.

In [ ]:
texto.lower()

'  geovana alessandra dias sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Método remove os espaços em branco do início e do fim de uma string.

In [ ]:
texto.strip()

'Geovana Alessandra dias Sanyos'

### [`str.replace(antigo, novo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Método substitui todas as ocorrências do texto "antigo" na string por "novo"

In [ ]:
texto.replace('y','t')

'  Geovana Alessandra dias Santos '

### Observações

1. Os métodos retornam uma **tranformação**, não a executam no texto!

2. Além disso, podemos acumular a execução de métodos.

In [ ]:
texto

'  Geovana Alessandra dias Sanyos '

Para que seja executada a transformação nós podemos atribuir às saídas das transformações à variável

In [ ]:
texto = texto.strip().replace('y','t').upper()
texto

'GEOVANA ALESSANDRA DIAS SANTOS'

## Coletando dados

Em algumas aplicações precisamos coletar valores da pessoa usuária do nosso projeto. Em python conseguimos coletar dados de usuário através do comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para fazer essa coleta podemos atribuir essa função à uma variável.

In [ ]:
nome = input('Olá, nos diga seu nome para continuar: ')

Olá, nos diga seu nome para continuar: Jaque

In [ ]:
print('Prazer',nome)

Prazer Jaque

O retorno desse comando sempre será uma *string*. Isso quer dizer que mesmo que façamos uma coleta de algo que deva ser numérico, ele será uma string.

Então, será preciso **converter o resultado caso não seja desejável obter uma string**.

Existem funções para conversão de valores:

- Inteiros: [`int(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#int)
- Float: [`float(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
ano_entrada = input('Escreva o ano de ingresso do(a) estudante: ')

Escreva o ano de ingresso do(a) estudante: 2026

In [ ]:
type(ano_entrada)

str

In [ ]:
ano_entrada = int(input('Escreva o ano de ingresso do(a) estudante: '))

Escreva o ano de ingresso do(a) estudante: 2026

In [ ]:
type(ano_entrada)

int

Buscaremos apresentar melhor agora o resultado que obtivemos da transformação. Nós conseguimos formatar e apresentar o nosso resultado misturando strings com valores não textuais.

Para fazer isso usamos a estrutura de formatação `f` com strings.

In [ ]:
nota_entrada = float(input('Digite a nota do teste de ingresso: '))
print(f'Ano de entrada {ano_entrada} - note do teste do ingresso {nota_entrada}')

Digite a nota do teste de ingresso: 9.0
Ano de entrada 2026 - note do teste do ingresso 9.0

### EXERCICIO COLETA E AMOSTRAGEM DE DADOS

In [ ]:
nome = input('Olá, seja Bem vindo a One Tech \nPara continuarmos, nos diga seu nome: ')
idade = int(input('Mais uma coisinha, nos diga sua idade: '))
altura = float(input('Ultima coisinha, qual sua altura? '))

print(f'Prazer em conhece-lo {nome}, fique a vontade para me perguntar oque quiser!')
print(f'Nossa, você tem {idade} anos!')
print(f'Caramba, você tem {altura}m de altura!')

Olá, seja Bem vindo a One Tech
Para continuarmos, nos diga seu nome: Bruno
Mais uma coisinha, nos diga sua idade: 18
Ultima coisinha, qual sua altura? 1.87
Prazer em conhece-lo Bruno, fique a vontade para me perguntar oque quiser!
Nossa, você tem 18 anos!
Caramba, você tem 1.87m de altura!

### Calculadora com Operadores

In [ ]:
V1 = int(input('Digite o primeiro valor: '))
V2 = int(input('Digite o segundo valor: '))
V3 = int(input('Digite o segundo valor: '))
T = V1 + V2 + V3
print(f'A soma de {V1}, {V2} e {V3} é igual a: {T}')

Digite o primeiro valor: 1
Digite o segundo valor: 2
Digite o segundo valor: 3
A soma de 1, 2 e 3 é igual a: 6

In [ ]:
V1 = int(input('Digite o primeiro valor: '))
V2 = int(input('Digite o segundo valor: '))
V3 = int(input('Digite o segundo valor: '))
T = V1 - V2 - V3

print(f'A subtração de {V1}, {V2} e {V3} é igual a: {T}')

Digite o primeiro valor: 3
Digite o segundo valor: 2
Digite o segundo valor: 1
A subtração de 3, 2 e 1 é igual a: 0

In [ ]:
V1 = int(input('Digite o primeiro valor: '))
V2 = int(input('Digite o segundo valor: '))

T = V1 * V2

print(f'A multiplicação de {V1} e {V2} é igual a: {T}')

Digite o primeiro valor: 2
Digite o segundo valor: 2
A multiplicação de 2 e 2 é igual a: 4

In [ ]:
V1 = int(input('Digite o Numerador:'))
V2 = int(input('Digite o Denominador:( O VALOR NÃO PODE SER IGUAL A 0)'))

T = V1 / V2

print(f'A Divisão de {V1} e {V2} é igual a: {T}')

Digite o Numerador:2
Digite o Denominador:( O VALOR NÃO PODE SER IGUAL A 0)2
A Divisão de 2 e 2 é igual a: 1.0

In [ ]:
V1 = int(input('Digite o valor:'))
V2 = int(input('Digite a potência: '))

T = V1 ** V2

print(f'A Potencia de {V1} com {V2} é igual a: {T}')

Digite o valor:2
Digite a potência: 4
A Potencia de 2 com 4 é igual a: 16

In [ ]:
V1 = int(input('Digite o Numerador:'))
V2 = int(input('Digite o Denominador:( O VALOR NÃO PODE SER IGUAL A 0)'))

T = V1 // V2

print(f'A Divisão de {V1} e {V2} é igual a: {T}')

Digite o Numerador:10
Digite o Denominador:( O VALOR NÃO PODE SER IGUAL A 0)5
A Divisão de 10 e 5 é igual a: 2

In [ ]:
V1 = int(input('Digite o Numerador:'))
V2 = int(input('Digite o Denominador:( O VALOR NÃO PODE SER IGUAL A 0)'))

T = V1 % V2

print(f'A Divisão de {V1} e {V2} é igual a: {T}')

Digite o Numerador:10
Digite o Denominador:( O VALOR NÃO PODE SER IGUAL A 0)3
A Divisão de 10 e 3 é igual a: 1

In [ ]:
V1 = int(input('Primeira Nota:'))
V2 = int(input('Segunda Nota: '))
V3 = int(input('Terceira Nota: '))


T = float((V1 + V2 + V3 )/ 3)

print(f'A média das suas notas {V1}, {V2} e {V3} é igual a: {T:.2f}')

Primeira Nota:10
Segunda Nota: 5
Terceira Nota: 7
A média das suas notas 10, 5 e 7 é igual a: 7.33

In [ ]:
V1 = int(5)
V2 = int(12)
V3 = int(20)
V4 = int(15)

P1 = int(1)
P2 = int(2)
P3 = int(3)
P4 = int(4)


T = float(V1 * P1 + V2 * P2 + V3 * P3 + V4 * P4 )/ (P1 + P2 + P3 + P4)

print(f'A média Ponderada dos valores {V1}, {V2}, {V3} e {V4} é igual a: {T}')

A média Ponderada dos valores 5, 12, 20 e 15 é igual a: 14.9

### Editando TEXTO

In [ ]:
frase = str(input('Digite uma frase: ')).upper()
print(frase)

Digite uma frase: Eu sEi Que POdE Ser maIOr
EU SEI QUE PODE SER MAIOR

In [ ]:
frase = str(input('Digite uma frase: ')).lower()
print(frase)

Digite uma frase: TUDO NELE EU POSSO
tudo nele eu posso

In [ ]:
frase = str(input('Digite uma frase: ')).strip()
print(frase)

Digite uma frase:  EU SEI OQUE FAZER
EU SEI OQUE FAZER

In [ ]:
frase = str(input('Digite uma frase: ')).strip().lower()
print(frase)

Digite uma frase:  EU POSSO TUDO
eu posso tudo

In [ ]:
frase = str=input('Digite uma frase: ').replace('E','f')
frase

In [ ]:
frase = str=input('Digite uma frase: ').replace('A','@')
frase

Digite uma frase: ABESTADO ANIMAL

'@BEST@DO @NIM@L'

In [ ]:
frase = str=input('Digite uma frase: ').replace('S','§')
frase

Digite uma frase: SEI DE TUDO SUGADOR

'§EI DE TUDO §UGADOR'

# Estruturas condicionais

## `IF` e `ELSE`

O `if` e `else` são duas estruturas condicionais. O `if` executará o bloco de comando caso a condição colocada for **verdadeira**. O `else` é um caso em que a condicional de `if` seja **falsa**.

O `if` é uma palavra-chave em Python que significa "se". Ele é usado para formar uma estrutura condicional, que permite que você verifique se uma determinada condição é verdadeira ou falsa e, em seguida, execute um bloco de código específico dependendo do resultado da verificação. A sintaxe para usar o `if` é:



```
if condição:
    # faça algo
```

In [ ]:
if 2<5:
  print('verdadeiro')
else:
  print('falso')

verdadeiro

Já o `else` em Python é usada em conjunto com a palavra-chave `if` para formar uma estrutura condicional. A sintaxe para usar o `else` é:

```
if condição:
  # código caso seja verdade
else:
  # código caso seja falso
```

O `else` é executado quando a condição verificada pelo `if` é avaliada como `False`.

---
**Situação:**

Receberemos a média de estudantes e precisamos de um algoritmo que execute a análise e decida se esse estudante está **Aprovado** ou Reprovado, mostrando uma mensagem do resultado. Para ser aprovado, a média precisa ser igual ou superior à 6.0.

In [ ]:
media = float(input('Digite a média: '))

if media >= 6.0:
  print('Parabéns, você passou!')
else:
  print("IIIH, não foi dessa vez, nos veremos ano que vem!")

Digite a média: 5
IIIH, não foi dessa vez, nos veremos ano que vem!

Agora a nossa instituição de ensino lançou uma nota oficial que pessoas que tenham média entre 4.0 e 6.0 podem fazer os cursos de **Recuperação** nas férias para poder recuperar a nota.

Então podemos agora fazer um conjunto de `if`s para que possamos estruturar essa nova condição.

In [ ]:
media = float(input('Digite a média: '))

if media > 6.0:
  print('Parabéns, você passou direto')
elif media >= 4.0 and media <= 6.0:
  print('Você ainda tem uma chance se estudar no natal!')
else:
  print('IIIH, não foi dessa vez, nos veremos ano que vem!')

Digite a média: 2
IIIH, não foi dessa vez, nos veremos ano que vem!

Notemos que em casos com 3 situações como esse precisamos definir bem nossas condições. Pois foi feita uma construção com `else` no final, ele irá considerar apenas a alguma condicional para ser o caso **falso** podendo resultar em duas (ou mais) execuções.

Por exemplo:

In [ ]:
media = float(input('Digite a média: '))

## `ELIF`

O `elif` é uma palavra-chave em Python que significa "senão, se" e pode ser considerado uma união do `else` com um `if`. Ela é usada em conjunto com a palavra-chave `if` para formar uma estrutura condicional encadeada.

A sintaxe para usar o `elif` é:

```
if condição1:
    # faça algo
elif condição2:
    # faça outra coisa
elif condição3:
    # faça mais alguma coisa
else:
    # faça algo diferente
```

O `elif` permite que você verifique várias condições de forma encadeada, economizando espaço em seu código. Se a primeira condição for avaliada como `False`, o interpretador Python avaliará a próxima condição no `elif`. Isso continuará até que uma condição seja avaliada como `True` ou até que o `else` seja atingido. Se nenhuma das condições forem avaliadas como `True`, a execução do código do `else` será iniciada.

Vamos usar o mesmo caso anterior:

In [ ]:
media = float(input('Digite a média: '))

## Operadores

Durante a construção de comandos por vezes precisamos de uma elaboração maior de da expressão condicional, necessitando que alguns operadores lógicos estejam integrados.

### `AND`, `OR`, `NOT`

Os operadores lógicos `and`, `or` e `not` são usados para combinar expressões lógicas em Python. Eles são usados frequentemente em conjunto com o `if` para criar estruturas condicionais mais complexas.

- `AND` é usado para verificar se duas condições são verdadeiras. A expressão lógica¹ `x and y` é avaliada como `True` apenas se **ambas as condições `x` e `y` forem verdadeiras**, e como `False` caso contrário.

- `OR` é usado para verificar se pelo menos uma das condições é verdadeira. A expressão lógica `x or y` é avaliada como `True` **se pelo menos uma das condições `x` ou `y` for verdadeira**, e como `False` se ambas forem falsas.

- `NOT` é usado para **negar uma condição**. A expressão lógica not x é avaliada como True se a condição x for falsa, e como False se a condição x for verdadeira.

¹ Uma expressão lógica é uma declaração que pode ser avaliada como verdadeira ou falsa. Ela é composta por operandos lógicos² e operadores lógicos³, que são usados ​​para combinar várias expressões lógicas em uma única expressão.

² Os operandos lógicos são os elementos que são comparados ou avaliados em uma expressão lógica. Eles são geralmente valores verdadeiros ou falsos, mas também podem ser expressões lógicas mais complexas. Em Python, os operandos lógicos são os valores `True` e `False`.

³ Os operadores lógicos são os símbolos ou palavras-chave que são usados ​​para combinar várias expressões lógicas em uma única expressão. Em Python, os operadores lógicos são `and`, `or` e `not`, bem como as palavras-chave `if`, `elif` e `else`.

In [ ]:
if :
  print('expressão verdadeira')
else:
  print('expressão falsa')

In [ ]:
if :
  print('expressão verdadeira')
else:
  print('expressão falsa')

In [ ]:
if :
  print('expressão verdadeira')
else:
  print('expressão falsa')

### `IN`

É usado para verificar se um elemento está presente em uma lista, tupla ou outra variável de conjunto. A expressão `x in y` é avaliada como `True` se o elemento `x` estiver presente na variável de conjunto `y`, e como `False` caso contrário.

Podemos verificar isso com variáveis de texto.

---

**Situação:**

Na escola foi passada uma lista com nomes de estudantes que foram aprovados por média no semestre, mas é preciso verificar se alguns nomes estão nessa lista para verificar se os dados estão corretos.

A lista distribuida pode ser observada abaixo:

```
lista = 'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira
'
```

Os nomes que precisam ser verificados são os seguintes:

```
nome_1 = 'Mariana Rodrigues'
nome_2 = 'Marcelo Nogueira'
```

In [ ]:
lista = 'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira'
lista

'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira'

In [ ]:
nome_1 = 'Mariana Rodrigues'
nome_2 = 'Marcelo Nogueira'

In [ ]:
if nome_1 in lista:
  print(f'O Nome está na lista')
else :
  print(f"O Seu nome não está na lista")

O Nome está na lista

In [ ]:
if nome_2 in lista:
  print(f'O Nome está na lista')
else :
  print(f"O Seu nome não está na lista")

O Seu nome não está na lista

## EXERCICIO OPERADORES AND, OR E NOT

In [ ]:
#1
N1 = int(input('Diga o primeiro Número:'))
N2 = int(input('Diga o segundo Número:'))

if N1 > N2 :
  print(f'O primeiro número é maior que o segundo')
elif N1 == N2 :
  print(f'O segundo número é igual que o primeiro')
else  :
  print(f'O segundo número é maior que o primeiro')

Diga o primeiro Número:2
Diga o segundo Número:3
O segundo número é maior que o primeiro

In [ ]:
#2
Percentual_Solicitado = int(input('Digite o novo Percentual : '))
Percentual_Atual = 85
Percentual_Difença = Percentual_Solicitado - Percentual_Atual

if Percentual_Solicitado > Percentual_Atual :
  print(f'O Percentual teve um crescimento de {Percentual_Difença}')
elif Percentual_Solicitado == Percentual_Atual :
  print(f'O Percentual não teve mudança')
else :
  print(f'O Percentual teve um decrescimento de {Percentual_Difença}')

Digite o novo Percentual : 85
O Percentual não teve mudança

In [ ]:
Percentual_Atual = 85

try:
    percentual_solicitado = int(input('Digite o novo Percentual : '))

    percentual_diferenca = percentual_solicitado - Percentual_Atual

    if percentual_solicitado > Percentual_Atual:
        print(f'O Percentual teve um crescimento de {percentual_diferenca}')
    elif percentual_solicitado == Percentual_Atual:
        print(f'O Percentual não teve mudança')
    else:
        print(f'O Percentual teve um decréscimo de {abs(percentual_diferenca)}')
except ValueError:
    print('Entrada inválida. Por favor, digite um número inteiro para o percentual.')

Digite o novo Percentual : 80
O Percentual teve um decréscimo de 5

In [ ]:
Vogal = str("aeiou")

Letra = input('Digite uma letra: ')

if len(Letra) == 1:

  if Letra.lower() in Vogal :
    print(f'A Letra é uma Vogal')
  else :
    print(f'A Letra não é uma Vogal')

else :
  print('Digite apenas uma letra')

Digite uma letra: 1
A Letra não é uma Vogal

In [ ]:
V1 = int(input('Digite o valor do primeiro ano:'))
V2 = int(input('Digite o valor do segundo ano:'))
V3 = int(input('Digite o valor do terceiro ano:'))

if V1 > V2 and V1 > V3 :
  print(f'O primeiro ano é o mais caro')
elif V2 > V1 and V2 > V3 :
  print(f'O segundo ano é o mais caro')
elif V1 == V2 and V1 == V3 :
  print(f'O valor se manteve durante os anos')
else :
  print(f'O terceiro ano é o mais caro')

Digite o valor do primeiro ano:1000
Digite o valor do segundo ano:1000
Digite o valor do terceiro ano:1000
O valor se manteve durante os anos

### Explicação do seu código:

```python
V1 = int(input('Digite o valor do primeiro ano:'))
V2 = int(input('Digite o valor do segundo ano:'))
V3 = int(input('Digite o valor do terceiro ano:'))

if V1 > V2 and V1 > V3 :
  print(f'O primeiro ano é o mais caro')
elif V2 > V1 and V2 > V3 :
  print(f'O segundo ano é o mais caro')
elif V1 == V2 and V1 == V3 :
  print(f'O valor se manteve durante os anos')
else :
  print(f'O terceiro ano é o mais caro')
```

Este código tem como objetivo comparar três valores inteiros fornecidos pelo usuário (representando, por exemplo, valores anuais) e determinar qual deles é o maior, ou se todos são iguais. Vamos analisar cada parte:

1.  **Coleta de Entradas (Variáveis `V1`, `V2`, `V3`):**
    *   As três primeiras linhas usam a função `input()` para solicitar ao usuário que digite um valor para cada um dos "três anos".
    *   A função `input()` sempre retorna uma string. Por isso, a função `int()` é usada para converter essa string em um número inteiro, que é então armazenado nas variáveis `V1`, `V2` e `V3`.

2.  **Estrutura Condicional (`if-elif-else`):**
    *   **`if V1 > V2 and V1 > V3 :`**
        *   Esta é a primeira condição. Ela verifica se `V1` é **estritamente maior** que `V2` E se `V1` é **estritamente maior** que `V3`.
        *   O operador lógico `and` significa que *ambas* as condições devem ser verdadeiras para que o bloco de código dentro do `if` seja executado.
        *   Se verdadeira, a mensagem 'O primeiro ano é o mais caro' é impressa.
    *   **`elif V2 > V1 and V2 > V3 :`**
        *   `elif` significa "else if" (senão se). Esta condição só é verificada se a condição `if` anterior for falsa.
        *   Ela verifica se `V2` é **estritamente maior** que `V1` E se `V2` é **estritamente maior** que `V3`.
        *   Se verdadeira, a mensagem 'O segundo ano é o mais caro' é impressa.
    *   **`elif V1 == V2 and V1 == V3 :`**
        *   Esta condição é verificada se as duas anteriores forem falsas.
        *   Ela verifica se `V1` é **igual** a `V2` E se `V1` é **igual** a `V3`. Se ambos forem verdadeiros, significa que todos os três valores são idênticos.
        *   Se verdadeira, a mensagem 'O valor se manteve durante os anos' é impressa.
    *   **`else :`**
        *   Este bloco é executado se *nenhuma* das condições `if` ou `elif` anteriores for verdadeira.
        *   Neste contexto, se `V1` não é o maior, e `V2` não é o maior, e eles não são todos iguais, a única opção restante é que `V3` seja o maior (ou esteja empatado como o maior com `V1` ou `V2` de uma forma que as `elif`s anteriores não capturaram por causa dos operadores `>` estritos).
        *   Imprime a mensagem 'O terceiro ano é o mais caro'.

Em resumo, este código compara três números fornecidos pelo usuário para identificar qual deles é o maior ou se todos são iguais.

### Para a sua nova questão: Encontrar o valor mais alto e mais baixo entre os preços de carros

Para resolver o problema de ler os preços de um carro por 3 anos e exibir o mais alto e o mais baixo, podemos usar as funções embutidas do Python `max()` e `min()`. Elas são muito eficientes e tornam o código mais limpo do que usar múltiplos `if`s para essa tarefa.

Aqui está um programa que faz isso:

In [ ]:
print('--- Comparador de Preços de Carro ---')

try:
  # Coleta os três preços dos carros
  preco_ano1 = float(input('Digite o preço médio do carro no primeiro ano: '))
  preco_ano2 = float(input('Digite o preço médio do carro no segundo ano: '))
  preco_ano3 = float(input('Digite o preço médio do carro no terceiro ano: '))

  # Encontra o preço mais alto usando a função max()
  preco_mais_alto = max(preco_ano1, preco_ano2, preco_ano3)

  # Encontra o preço mais baixo usando a função min()
  preco_mais_baixo = min(preco_ano1, preco_ano2, preco_ano3)

  # Exibe os resultados
  print(f'\nPreços informados: R$ {preco_ano1:.2f}, R$ {preco_ano2:.2f}, R$ {preco_ano3:.2f}')
  print(f'O preço mais alto entre os três anos é: R$ {preco_mais_alto:.2f}')
  print(f'O preço mais baixo entre os três anos é: R$ {preco_mais_baixo:.2f}')

except ValueError:
  print('Entrada inválida. Por favor, digite um número para o preço (ex: 35000.50).')
except Exception as e:
  print(f'Ocorreu um erro inesperado: {e}')

--- Comparador de Preços de Carro ---
Digite o preço médio do carro no primeiro ano: 1000
Digite o preço médio do carro no segundo ano: 2000
Digite o preço médio do carro no terceiro ano: 3000

Preços informados: R$ 1000.00, R$ 2000.00, R$ 3000.00
O preço mais alto entre os três anos é: R$ 3000.00
O preço mais baixo entre os três anos é: R$ 1000.00

### Explicação do novo código para os preços de carro:

1.  **`print('--- Comparador de Preços de Carro ---')`**:
    *   É apenas uma mensagem de boas-vindas para o usuário.

2.  **Bloco `try...except`:**
    *   Todo o código principal está dentro de um bloco `try`. Isso é uma boa prática para **tratamento de erros**.
    *   Se o usuário digitar algo que não seja um número (`ValueError`), o programa não vai "quebrar", mas sim capturar o erro e imprimir a mensagem no `except ValueError`.
    *   `except Exception as e:` captura qualquer outro tipo de erro inesperado, exibindo a mensagem do erro.

3.  **Coleta de Preços (`preco_ano1`, `preco_ano2`, `preco_ano3`):**
    *   `input()` é usado para pedir ao usuário os preços. Para valores monetários, é comum permitir casas decimais, então `float()` é usado para converter a entrada para um número de ponto flutuante.

4.  **Encontrando o Preço Mais Alto (`max()`):**
    *   `preco_mais_alto = max(preco_ano1, preco_ano2, preco_ano3)`
    *   A função `max()` do Python recebe um número variável de argumentos (ou uma coleção) e retorna o maior valor entre eles. É uma forma simples e eficiente de encontrar o máximo.

5.  **Encontrando o Preço Mais Baixo (`min()`):**
    *   `preco_mais_baixo = min(preco_ano1, preco_ano2, preco_ano3)`
    *   Similar ao `max()`, a função `min()` retorna o menor valor entre os argumentos fornecidos.

6.  **Exibição dos Resultados (f-strings com formatação):**
    *   As linhas `print()` usam f-strings para construir mensagens claras e informativas.
    *   O formato `:.2f` dentro da f-string (ex: `{preco_mais_alto:.2f}`) é usado para garantir que os números de ponto flutuante sejam exibidos com exatamente duas casas decimais, o que é ideal para valores monetários.

In [ ]:
v1 = 1
v2 = 3
v3 = 2

# 1. Coloque os números em uma lista
lista_numeros = [v1, v2, v3]

# 2. Ordene a lista em ordem decrescente
#    O argumento 'reverse=True' faz com que a ordenação seja do maior para o menor.
lista_numeros.sort(reverse=True)

# 3. Imprima a lista ordenada
print(lista_numeros)

[3, 2, 1]

### Explicação do Código:

1.  **`v1 = 1`, `v2 = 3`, `v3 = 2`**:
    *   Estas linhas apenas inicializam suas variáveis com os valores que você forneceu.

2.  **`lista_numeros = [v1, v2, v3]`**:
    *   Aqui, criamos uma **lista** em Python. Uma lista é uma coleção ordenada e mutável de itens. Colocamos os três valores (`v1`, `v2`, `v3`) dentro dela.

3.  **`lista_numeros.sort(reverse=True)`**:
    *   Este é o coração da ordenação. `sort()` é um **método de lista** que ordena os itens da própria lista.
    *   Por padrão, `sort()` ordena em ordem crescente. No entanto, ao adicionar o argumento `reverse=True`, estamos dizendo ao Python para ordenar a lista em **ordem decrescente** (do maior para o menor).
    *   É importante notar que `sort()` altera a lista original no local; ela não retorna uma nova lista.

4.  **`print(lista_numeros)`**:
    *   Finalmente, imprimimos a lista `lista_numeros`, que agora contém seus valores originais, mas ordenados do maior para o menor.

### Por que usar `sort()`?

*   **Simplicidade e Legibilidade:** É muito fácil de ler e entender o que o código faz.
*   **Eficiência:** É otimizado para ordenação.
*   **Escalabilidade:** Funciona da mesma forma se você tiver 3 números, 10 números ou 1000 números, basta adicioná-los à lista.

### Outra forma (para casos específicos ou para entender a lógica de comparação):

Embora `sort()` seja o mais indicado, se você realmente quiser ver uma abordagem mais 'manual' que use comparações (`if/elif/else`) como seu código anterior, poderíamos fazer algo assim, mas é mais complexo para um número maior de elementos:

```python
# Usando o mesmo v1, v2, v3

if v1 >= v2 and v1 >= v3:
    primeiro = v1
    if v2 >= v3:
        segundo = v2
        terceiro = v3
    else:
        segundo = v3
        terceiro = v2
elif v2 >= v1 and v2 >= v3:
    primeiro = v2
    if v1 >= v3:
        segundo = v1
        terceiro = v3
    else:
        segundo = v3
        terceiro = v1
else: # v3 é o maior
    primeiro = v3
    if v1 >= v2:
        segundo = v1
        terceiro = v2
    else:
        segundo = v2
        terceiro = v1

print(primeiro, segundo, terceiro)
```

Esta abordagem manual (com muitos `if`s aninhados) ilustra a 'fórmula' lógica de comparação para descobrir o maior, o segundo maior e o menor, mas como você pode ver, é bem mais verbosa e menos flexível que usar uma lista e o `sort()`.

In [ ]:
turno = input('Digite o turno que você estuda: ')

if turno.lower() == 'manha' or turno.lower() == 'manhã':
  print('Bom Dia!')
elif turno.lower() == 'tarde':
  print('Boa Tarde!')
elif turno.lower() == 'noite':
  print('Boa Noite!')
else:
  print('Valor Inválido')

Digite o turno que você estuda: nçssç
Valor Inválido

In [ ]:
numero = int(input('Digite um número inteiro: '))

if numero % 2 == 0:
  print('O número é par')
else :
  print('O número é ímpar')

Digite um número inteiro: 4343434343
O número é ímpar

In [ ]:
numero = input('Diga um numero inteiro ou decimal: ')

num_f = float(numero)

if num_f == int(num_f) :
  print('O número é inteiro')
else :
  print('O número é decimal')

Diga um numero inteiro ou decimal: 232.43
O número é decimal

# MOMENTO PROJETO

In [ ]:
nome = input('Digite seu nome: ')
print(f'Olá {nome}, seja bem vindo a calculadora maluca')

try:
    num1 = int(input('Digite um número: '))
    num2 = int(input('Digite outro número: '))
except ValueError:
    print('Entrada inválida. Por favor, digite apenas números inteiros.')
    exit() # Encerra o programa se a entrada for inválida

operação = input('Escolha a operação matemática desejada: [+] [-] [x] [/]')
print(f'Você escolheu a operação matemática {operação}')

num_r = None # Inicializa num_r para que esteja sempre definida

# Operação ARITMÉTICA
if operação == '+':
    num_r = num1 + num2
    print(f'A SOMA ENTRE {num1} e {num2} é {num_r}')
elif operação == '-':
    num_r = num1 - num2
    print(f'A SUBTRAÇÃO ENTRE {num1} e {num2} é {num_r}')
elif operação == 'x':
    num_r = num1 * num2
    print(f'A MULTIPLICAÇÃO ENTRE {num1} e {num2} é {num_r}') # Corrigido 'ENTRA' para 'ENTRE'
elif operação == '/':
    if num2 == 0:
        print('Erro: Divisão por zero não é permitida!')
        exit() # Encerra o programa
    num_r = num1 / num2
    print(f'A DIVISÃO ENTRE {num1} e {num2} é {num_r}')
else:
    print('Operação matemática inválida! O programa será encerrado.')
    exit() # Encerra o programa se a operação for inválida


# --- Operações Lógicas (somente se a operação aritmética foi válida) ---
if num_r is not None: # Garante que num_r foi definido pela operação aritmética
    operaçãol = input('Digite a operação lógica que deseja Ver:\n\t 1[PAR/IMPAR] \n\t 2[POSITIVO/NEGATIVO] \n\t 3[INTEIRO/DECIMAL]')
    print(f'Você escolheu a operação lógica número {operaçãol}') # Corrigido para {operaçãol}

    # Operação LOGÍCA
    if operaçãol == '1':
        if num_r % 2 == 0:
            print('O número é par')
        else:
            print('O número é ímpar')

    elif operaçãol == '2':
        if num_r > 0:
            print('O número é positivo')
        elif num_r == 0:
            print('O número é zero') # Adicionado para melhor precisão
        else:
            print('O número é negativo')

    elif operaçãol == '3':
        # Para verificar se é inteiro/decimal, convertemos para float e comparamos com o int
        # (útil especialmente se a operação foi divisão e resultou em um float como 8.0)
        if num_r == int(num_r):
            print('O número é inteiro')
        else:
            print('O número é decimal')
    else:
        print('Operação lógica inválida!')

Digite seu nome: b
Olá b, seja bem vindo a calculadora maluca
Digite um número: s
Entrada inválida. Por favor, digite apenas números inteiros.
Escolha a operação matemática desejada: [+] [-] [x] [/]+
Você escolheu a operação matemática +
A SOMA ENTRE 3 e 23 é 26

KeyboardInterrupt: Interrupted by user

In [ ]:
print('Leito de Triangulo')
med1 = float(input('Digite a medida 1: '))
med2 = float(input('Digite a medida 2: '))
med3 = float(input('Digite a medida 3: '))


if med1 > med2 + med3 or med2 > med1 + med3 or med3 > med1 + med2 :
  print('Não é um triangulo')
else :
  print('É um triangulo')

  if med1 == med2 == med3 :
    print('Triangulo Equilátero')

  elif med1 == med2 or med1 == med3 or med2 == med3 :
    print('Triangulo Isósceles')

  elif  med1 != med2 and med2 != med3 and med1 != med3:
    print('Triangulo Escaleno')

Leito de Triangulo
Digite a medida 1: 3
Digite a medida 2: 2
Digite a medida 3: 3
É um triangulo
Triangulo Isósceles

In [ ]:
etanol = float(1.70)
diesel = float(2.00)

print(f'Bem vindo ao Posto BCS, os preços do etanol é {etanol} e diesel a {diesel}')

escolha = str(input('Digite [E] para etanol e [D] para diesel: '))
qtd = int(input('Quanto em litro você vai colocar hoje, chefe?: '))

if escolha.lower() == 'e' :

  if qtd <= 15 :
    desc1 = float(etanol * qtd * 0.02)
    print(f'Seu desconto foi de {desc1:.2f}')
    print(f'Você terá que pagar {etanol * qtd - desc1:.2f}')
  else :
    desc2 = float(etanol * qtd * 0.04)
    print(f'Seu desconto foi de {desc2:.2f}')
    print(f'Você terá que pagar {etanol * qtd - desc2:.2f}')

elif escolha.lower() == 'd' :
  if qtd <= 15 :
    desc3 = float(diesel * qtd * 0.03)
    print(f'Seu desconto foi de {desc3:.2f}')
    print(f'Você terá que pagar {diesel * qtd - desc3:.2f}')
  else :
    desc4 = float(diesel * qtd * 0.5)
    print(f'Seu desconto foi de {desc4:.2f}')
    print(f'Você terá que pagar {diesel * qtd - desc4:.2f}')

else :
  print('Escolha inválida')
  exit()

Bem vindo ao Posto BCS, os preços do etanol é 1.7 e diesel a 2.0
Digite [E] para etanol e [D] para diesel: e
Quanto em litro você vai colocar hoje, chefe?: 1
Seu desconto foi de 0.03
Você terá que pagar 1.67

In [ ]:
a2022 = float(input('Digite o valor do faturamento do ano de 2022: '))
a2023 = float(input('Digite o valor do faturamento do ano de 2023: '))
variaçãoP = ((a2023 - a2022) / a2022) * 100

if variaçãoP > 20 :
  print('Bonificação para o Time de Vendas')

elif variaçãoP >= 2 and variaçãoP <= 20 :
  print('Pequena bonificação para o time de Vendas')

elif variaçãoP >= -10 and variaçãoP < 2 :
  print('Planajamento de políticas de incentivo às vendas')

else :
  print('Cortes de gastos')

Digite o valor do faturamento do ano de 2022: 1000
Digite o valor do faturamento do ano de 2023: 890
Cortes de gastos

# Estruturas de repetição

Quando temos que executar um mesmo bloco de comandos por várias vezes não é muito interessante fazer isso à mão.

Imaginemos a situação de termos que coletar e imprimir a média de duas notas de **3 estudantes**:

In [ ]:

nota_1 = float(input('Digite a 1° nota: '))
nota_2 = float(input('Digite a 2° nota: '))

print(f'Média: {(nota_1+nota_2)/2}')

Agora imaginemos uma situação em que não são apenas 3 estudantes, mas sim 100 estudantes. Não seria interessante repetir o mesmo código por 100 vezes, mas sim **executar o mesmo código 100 vezes**.

Essa repetição conseguimos construir com laços de repetição!

## `WHILE`

O laço `while` é uma estrutura de controle de repetição em Python que permite executar um bloco de código repetidamente enquanto uma determinada condição é verdadeira. Sua estrutura é:



```
while condição:
    # bloco de código
```

Vamos construir um exemplo com um contador de 1 até 10.

In [ ]:
contador = 0
while contador <= 10:
    print(contador)
    contador += 2

0
2
4
6
8
10

Agora vamos coletar as notas e médias de cada aluno dentro do while. Faremos um exemplo com 3 médias.

In [ ]:
contador = 1
while contador <= 3:
  nota_1 = float(input('Digite a 1° nota: '))
  nota_2 = float(input('Digite a 2° nota: '))

  print(f'Média: {(nota_1+nota_2)/2}')
  contador += 1

Digite a 1° nota: 10
Digite a 2° nota: 0
Média: 5.0
Digite a 1° nota: 10
Digite a 2° nota: 5
Média: 7.5
Digite a 1° nota: 7
Digite a 2° nota: 8
Média: 7.5

## `FOR`

O laço `for` é um tipo de estrutura de controle de fluxo em Python que permite iterar sobre um conjunto de elementos. A sua estrutura é:



```
for elemento in conjunto:
    # código a ser executado para cada elemento
```

O laço for itera sobre cada elemento do conjunto especificado e executa o bloco de código dentro do laço para cada elemento. Quando o laço chega ao final do conjunto, ele é interrompido e o programa continua a execução após o laço.

O conjunto pode ser gerado com a função [`range()`](https://docs.python.org/3/library/functions.html#func-range). Que é uma função capaz de gerar uma sequência de números inteiros. A estrutura dessa função é:

```
range(inicio, fim, passo)
```

Segundo a documentação, o `range()` gera uma sequência de números inteiros a partir do valor do parâmetro `inicio` até o valor do parâmetro `fim`, de acordo com o valor do parâmetro `passo`. Se `inicio` não for especificado, o valor padrão é 0. Se `passo` não for especificado, o valor padrão é 1.

Vamos fazer o mesmo contador `while` agora com `for`.

In [ ]:
for contador in range(1, 11, 2):
  print(contador)

1
3
5
7
9

In [ ]:
for contador in range(1, 4):
    nota_1 = float(input('Digite a 1° nota: '))
    nota_2 = float(input('Digite a 2° nota: '))

    print(f'Média: {(nota_1+nota_2)/2}')

Digite a 1° nota: 2
Digite a 2° nota: 10
Média: 6.0
Digite a 1° nota: 10
Digite a 2° nota: 10
Média: 10.0
Digite a 1° nota: 10
Digite a 2° nota: 09
Média: 9.5

# Exercicio P

In [ ]:
n1 = int(input('Digite um número inteiro: '))
n2 = int(input('Digite outro número inteiro: '))

while n1 <= n2 :
  print(n1)
  n1 += 1

Digite um número inteiro: 57
Digite outro número inteiro: 62
57
58
59
60
61
62

In [ ]:
dia = 1
colA = 4
colB = 10

# A condição do loop deve ser enquanto colA for menor que colB
while colA <= colB:
  # As populações crescem por dia
  colA *= 1.03  # colA cresce 3%
  colB *= 1.015 # colB cresce 1.5% (corrigi para 0.015, já que a questão pede 1.5%)
  dia += 1 # Incrementa o número de dias

# Após o loop, colA terá ultrapassado ou igualado colB
print(f'Levará {dia-1} dias para a colônia A ultrapassar ou igualar a colônia B.')
# Se quisermos mostrar o dia em que aconteceu e os valores:
print(f'No dia {dia-1}, a população da colônia A ({colA:.2f}) ultrapassou ou igualou a população da colônia B ({colB:.2f}).')

Levará 63 dias para a colônia A ultrapassar ou igualar a colônia B.
No dia 63, a população da colônia A (25.75) ultrapassou ou igualou a população da colônia B (25.55).

In [ ]:
for dados in range(1, 16):
  while True: # Loop para garantir que uma nota válida seja inserida
    try:
      notas = int(input(f'Digite a {dados}º nota (de 0 a 5): '))
      if 0 <= notas <= 5: # Verifica se a nota está na faixa válida
        print(f'A {dados}º nota foi {notas}')
        break # Sai do loop while interno se a nota for válida
      else:
        print('Nota inválida! Por favor, digite um valor entre 0 e 5.')
    except ValueError:
      print('Entrada inválida! Por favor, digite um número inteiro.')
  # O 'continue' original é desnecessário aqui, pois o 'for' automaticamente avança para a próxima iteração.

In [ ]:
soma = 0
cont = 0
while True:
  temp = float(input('Digite a temperatura em graus Celsius: '))
  if temp == -273:
      break
  else:
      soma += temp
      cont += 1
if cont == 0 and soma == 0:
  print('Nenhuma temperatura válida foi digitada.')
else:
  media = (soma / cont)
  print(f'a média foi {media}')

Digite a temperatura em graus Celsius: 3
Digite a temperatura em graus Celsius: 4
Digite a temperatura em graus Celsius: 2
Digite a temperatura em graus Celsius: 5
Digite a temperatura em graus Celsius: -273
a média foi 3.5

In [ ]:
cont = int(input('Digite um numero inteiro: '))
resultado = 1

for cont in range(1, cont + 1):
  resultado *= cont

print(f"O Fatorial de {cont} é {resultado}")

Digite um numero inteiro: 10
O Fatorial de 10 é 3628800

# MOMENTO PROJETO

In [ ]:
numero = int(input(" Escolha um número para a tabuada: "))
cont = 1

for cont in range(1,11) :
    print(f'{numero} x {cont} = {numero * cont}')

    cont += 1

 Escolha um número para a tabuada: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# Ver a correção dessa

In [ ]:
numero = int(input("Escoha um número para ver se é primo ou não: "))
cont = 1

if numero > cont :
  if numero / cont == 0 and  numero / numero == 0 :
    print (f"O número {numero} é primo ")
  else :
    print (f"O número {numero} não é primo ")
else :
  print (f"O número escolhido precisa ser maior doque 1 ")

Escoha um número para ver se é primo ou não: 3
O número 3 não é primo

In [ ]:
# Solicitamos o número
num = int(input("Digite o número: "))

# Assumimos que o número é primo até que se prove o contrário
eh_primo = True

# Números abaixo de 2 não são primos
if num <= 1 :
  eh_primo = False
else:
    for i in range(2, num):
        # Se o número for divisível por qualquer número dentro deste intervalo,
        # ele não é primo, portanto, mudamos a variável 'eh_primo' para False e saímos do loop.
        if num % i == 0:
            eh_primo = False
            break

# Verifica se 'eh_primo' ainda é True, o que significa que o número passou pelo loop
# sem ser divisível por nenhum número além de 1 e ele mesmo.
if eh_primo:
    # Se for o caso, o número é primo.
    print(f'O número {num} é primo')
else:
    # Caso contrário, o número não é primo.
    print(f'O número {num} não é primo')

# PULA LINHA

In [ ]:
quant = int(input('Digite a quantidade de pensionistas: '))
cont = 1

while cont <= quant :
  idade = int(input(f'Digite a idade do {cont}° pensionista: '))
  if idade >= 0 and idade <= 25 :
    print('Primeiro Grupo')
  elif idade >= 26 and idade <= 50 :
    print('Segundo Grupo')
  elif idade >= 51 and idade <= 75 :
    print('Terceiro Grupo')
  else :
    print('Quarto Grupo')
  cont += 1

Digite a quantidade de pensionistas: 5
Digite a idade do 1° pensionista: 2
Primeiro Grupo
Digite a idade do 2° pensionista: 3
Primeiro Grupo
Digite a idade do 3° pensionista: 56
Terceiro Grupo
Digite a idade do 4° pensionista: 78
Quarto Grupo
Digite a idade do 5° pensionista: 26
Segundo Grupo

In [ ]:
# Coletamos as idades dos clientes
idade = int(input('Informe a idade (ou um número negativo para encerrar): '))

# Inicializamos as variáveis de contadores
contador_0_25 = 0 # contador de idades entre 0 e 25
contador_26_50 = 0 # contador de idades entre 26 e 50
contador_51_75 = 0 # contador de idades entre 51 e 75
contador_76_100 = 0 # contador de idades entre 76 e 100

# nosso código executa sempre até o valor de idade for negativa
while idade >= 0:
    # contamos cada caso
    if idade >= 0 and idade <= 25:
        contador_0_25 += 1
    elif idade >= 26 and idade <= 50:
        contador_26_50 += 1
    elif idade >= 51 and idade <= 75:
        contador_51_75 += 1
    elif idade >= 76 and idade <= 100:
        contador_76_100 += 1

    # Repetir o processo de entrada de dados até que seja digitado um número negativo
    idade = int(input('Informe a idade (ou um número negativo para encerrar): '))

# Mostramos os resultados
print('Distribuição de idades:')
print('[0-25]:', contador_0_25)
print('[26-50]:', contador_26_50)
print('[51-75]:', contador_51_75)
print('[76-100]:', contador_76_100)

Informe a idade (ou um número negativo para encerrar): 2
Informe a idade (ou um número negativo para encerrar): 5
Informe a idade (ou um número negativo para encerrar): 25
Informe a idade (ou um número negativo para encerrar): 36
Informe a idade (ou um número negativo para encerrar): 78
Informe a idade (ou um número negativo para encerrar): 65
Informe a idade (ou um número negativo para encerrar): 100
Informe a idade (ou um número negativo para encerrar): -1
Distribuição de idades:
[0-25]: 3
[26-50]: 1
[51-75]: 1
[76-100]: 2

# PULA LINHA

In [ ]:
pessoas = int(20)
cand1 = 0
cand2 = 0
cand3 = 0
cand4 = 0
nulo = 0
branco = 0
cont = 1

print('Vote para o Candidato 1, 2 , 3 e 4 [ DIGITE 5 PARA NULO] [DIGITE 6 PARA BRANCO]')
#Bloco Repetição para votação
while cont <= pessoas :
  voto = int(input(f'Digite o {cont}º voto:'))
  if voto == 1 :
    cand1 += 1
  elif voto == 2 :
    cand2 += 1
  elif voto == 3 :
    cand3 += 1
  elif voto == 4 :
    cand4 += 1
  elif voto == 5:
    nulo += 1
  elif voto == 6 :
    branco += 1

  else :
    print('Voto inválido')
    continue
  cont += 1


# Calculo Porcentaçem dos votos

p1 = (cand1 / pessoas) * 100
p2 = (cand2 / pessoas) * 100
p3 = (cand3 / pessoas) * 100
p4 = (cand4 / pessoas) * 100
pn = (nulo / pessoas) * 100
pb = (branco / pessoas) * 100

# Tabela de candidatos
print('Resultado da Eleição')
print(f'[Candidato 1: {cand1} votos {p1}%]')
print(f'[Candidato 2: {cand2} votos {p2}%]')
print(f'[Candidato 3: {cand3} votos {p3}%]')
print(f'[Candidato 4: {cand4} votos {p4}%]')
print(f'[Nulo: {nulo} votos {pn}%]')
print(f'[Branco: {branco} votos {pb}%]')

# Quem é o Ganhador
if cand1 > cand2 and cand1 > cand3 and cand1 > cand4 and cand1 > nulo and cand1 > branco :
  print(f'E O GANHADOR FOI o Candidato 1')
elif cand2 > cand1 and cand2 > cand3 and cand2 > cand4 and cand2 > nulo and cand2 > branco :
  print(f'E O GANHADOR FOI o Candidato 2')
elif cand3 > cand1 and cand3 > cand2 and cand3 > cand4 and cand3 > nulo and cand3 > branco :
  print(f'E O GANHADOR FOI o Candidato 3')
elif cand4 > cand1 and cand4 > cand2 and cand4 > cand3 and cand4 > nulo and cand4 > branco :
  print(f'E O GANHADOR FOI o Candidato 4')
else :
  print('A ELEIÇÃO TERÁ UM SEGUNDO TURNO')

Vote para o Candidato 1, 2 , 3 e 4 [ DIGITE 5 PARA NULO] [DIGITE 6 PARA BRANCO]
Digite o 1º voto:4
Digite o 2º voto:4
Digite o 3º voto:4
Digite o 4º voto:3
Digite o 5º voto:2
Digite o 6º voto:1
Digite o 7º voto:1
Digite o 8º voto:2
Digite o 9º voto:2
Digite o 10º voto:4
Digite o 11º voto:5
Digite o 12º voto:5
Digite o 13º voto:6
Digite o 14º voto:2
Digite o 15º voto:1
Digite o 16º voto:3
Digite o 17º voto:2
Digite o 18º voto:1
Digite o 19º voto:4
Digite o 20º voto:4
[Candidato 1: 4 20.0%]
[Candidato 2: 5 25.0%]
[Candidato 3: 2 10.0%]
[Candidato 4: 6 30.0%]
[Nulo: 2 10.0%]
[Branco: 1 5.0%]
E O GANHADOR FOI Candidato 4

# Estruturas de dados

Um conjunto de elementos é uma coleção de itens, que são armazenados juntos de maneira organizada. Alguns exemplos de conjuntos de elementos em Python são listas, strings e dicionários.

## Listas

As listas podem armazenar uma coleção de itens em ordem. Eles são delimitados por colchetes `[]` e os itens são separados por vírgulas.

Elas também podem armazenar qualquer tipo de item, incluindo números, strings, objetos e outras listas. Elas também podem armazenar itens de tipos de dados diferentes juntos em uma única lista.

In [ ]:
lista = ['Fabricio Daniel', 10, 9.0, 8.5, True]
lista[0], lista[-5]

('Fabricio Daniel', 'Fabricio Daniel')

As listas são organizadas em Python porque **cada elemento da lista tem um índice que indica sua posição na lista**. Os índices começam em 0 e vão até o tamanho da lista menos 1.

Temos então 5 elementos com índices variando de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Fabricio Daniel', 9.5 , 9.0 , 8.0 , True]
```

Em Python temos também os índices **negativos** que se iniciam no último elemento com o valor de `-1` e depois avancam no universo dos negativos até chegar no 1° elemeno:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Fabricio Daniel', 9.5 , 9.0 , 8.0 , True]
```

Conseguimos selecionar separadamente cada elemento através de seus respectivos índices. Colocando o nome da lista e em seguida o índice a ser selecionado.

In [ ]:
lista [-5]

'Fabricio Daniel'

In [ ]:
lista[1]

10

In [ ]:
lista[2]

9.0

Uma forma mais dinâmica de trabalhar item por item de uma lista é utilizando um laço for para leitura elemento a elemento.

In [ ]:
for elemento in lista:
  print(elemento)

Fabricio Daniel
10
9.0
8.5
True

A nota `8.0` de Fabricio Daniel precisa ser ajustada pois ganhou 2 pontos em sua ultima nota por fazer um trabalho de turma. Então é necessária fazer uma troca no valor do índice `3` de `8.0` para `10.0`.

In [ ]:
lista[3] = 10
lista

['Fabricio Daniel', 10, 9.0, 10, True]

conseguimos calcular a média do aluno a partir dos dados que temos

In [ ]:
media = (lista[1] + lista[2] + lista[3])/3

9.67

## Manipulação de listas

As listas são muito úteis em Python porque permitem armazenar e acessar uma coleção de itens de maneira organizada e rápida. Elas também oferecem muitos métodos úteis para manipular os itens armazenados, como adicionar, remover, classificar e pesquisar elementos.

#### Quantidade de elementos

Usamos a função [`len()`](https://docs.python.org/3/library/functions.html#len) para descobrimos a quantidade de elementos de um conjunto.

In [ ]:
len(lista)

5

#### Partição

A partição de listas por indexação em Python é uma técnica muito útil para selecionar um subconjunto de elementos de uma lista. Ela é feita usando a sintaxe `lista[inicio:fim]`, onde `inicio` é o índice do primeiro elemento a ser incluído na partição e `fim` é o índice do primeiro elemento a ser excluído da partição.

In [ ]:
lista[1:4]

[10, 9.0, 10]

In [ ]:
lista[1:3]

[10, 9.0]

In [ ]:
lista[-5:]

[10, True, 9.666666666666666, 9.666666666666666, 9.666666666666666]

In [ ]:
lista[3:]

[10, True]

In [ ]:
lista[:5]

['Fabricio Daniel', 10, 9.0, 10, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Adiciona um elemento ao final da lista.

In [ ]:
lista.append(media)
lista

['Fabricio Daniel',
 10,
 9.0,
 10,
 True,
 9.666666666666666,
 9.666666666666666,
 9.666666666666666]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Adiciona vários elementos ao final da lista.

Adicionaremos as notas `[10.0,8.0,9.0]` na lista do Fabricio Daniel

In [ ]:
lista.extend([10,8.5,9])
lista

['Fabricio Daniel',
 10,
 9.0,
 10,
 True,
 9.666666666666666,
 9.666666666666666,
 9.666666666666666,
 10,
 8.5,
 9]

*Isso não é possivel ser feito com o* `append`.

In [ ]:
lista.append([10,8.5,9])
lista

['Fabricio Daniel',
 10,
 9.0,
 10,
 True,
 9.666666666666666,
 9.666666666666666,
 9.666666666666666,
 10,
 8.5,
 9,
 [10, 8.5, 9]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remove um elemento específico da lista.

In [ ]:
lista.remove([10, 8.5, 9])
lista

['Fabricio Daniel', 10, 9.0, 10, True, 10, 8.5, 9]

In [ ]:
raca_caes = ['Labrador Retriever',
             'Bulldog Francês',
             'Pastor Alemão',
             'Poodle']

In [ ]:
raca_caes.insert(1, 'Golden Retriever')
raca_caes

['Labrador Retriever',
 'Golden Retriever',
 'Bulldog Francês',
 'Pastor Alemão',
 'Poodle']

In [ ]:
raca_caes.pop(1)

'Golden Retriever'

In [ ]:
raca_caes.index('Pastor Alemão')

2

In [ ]:
raca_caes.sort()
raca_caes

['Bulldog Francês', 'Labrador Retriever', 'Pastor Alemão', 'Poodle']

In [ ]:
raca_caes.reverse()
raca_caes

['Poodle', 'Pastor Alemão', 'Labrador Retriever', 'Bulldog Francês']

## Dicionário

Os dicionários são um tipo de estrutura de dados que armazenam pares de *chave-valor*. Eles são delimitados por chaves `{}` e os pares *chave-valor* são separados por vírgulas.

```
dicionário = {chave: valor}
```

A **chave** é um elemento único que identifica um valor no dicionário, enquanto o **valor** é o item que é armazenado para a chave. As chaves e os valores podem ser de **qualquer tipo de dado**.

Os dicionários são úteis para armazenar e acessar dados de maneira organizada e rápida. Eles são um tipo de conjunto de elementos em Python, pois armazenam uma coleção de itens.

In [ ]:
dicionario = {'nome':1,
              'Fabricio Daniel':2,
              'nota1':1}
dicionario

{'nome': 1, 'Fabricio Daniel': 2, 'nota1': 1}

---
**Situação:**

Vamos criar um conjunto de dados com informações de matricula de um estudante. Os dados são os seguintes:

- matricula: 2000168933
- dia de cadastro: 25
- mês de cadastro: 10
- turma: 2E

In [ ]:
cad = {'matricula': 2000168933,
      'dia de cadastro': 25,
      'mês de cadastro': 10,
      'turma': '2E'}
cad

{'matricula': 2000168933,
 'dia de cadastro': 25,
 'mês de cadastro': 10,
 'turma': '2E'}

In [ ]:
cad['matricula']

2000168933

In [ ]:
cad['turma']

'2E'

É possível substituir os valores dentro de uma chave. Por exemplo, recebemos a informação que a turma do estudante que cadastramos foi trocada para `'2G'` e agora precisamos trocar o valor da chave `'turma'`.

In [ ]:
cad['turma'] = '2G'
cad

{'matricula': 2000168933,
 'dia de cadastro': 25,
 'mês de cadastro': 10,
 'turma': '2G'}

Podemos também adicionar outros dados ao dicionário. Vamos adicionar a informação de modalidade de ensino, nosso estudante atuará inicialmente em modalidade EAD.

Então iremos definir uma chave chamada `'modalidade'` e o valor `'EAD'`.

In [ ]:
cad['modadelidade'] = 'EAD'
cad

{'matricula': 2000168933,
 'dia de cadastro': 25,
 'mês de cadastro': 10,
 'turma': '2G',
 'modadelidade': 'EAD'}

## Aprofundando em dicionários

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remove um item de um dicionário e o retorna.

In [ ]:
cad.pop('turma')

'2G'

In [ ]:
cad

{'matricula': 2000168933,
 'dia de cadastro': 25,
 'mês de cadastro': 10,
 'modadelidade': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna uma lista de pares chave-valor do dicionário.

In [ ]:
cad.items()

dict_items([('matricula', 2000168933), ('dia de cadastro', 25), ('mês de cadastro', 10), ('modadelidade', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna uma lista das chaves do dicionário.

In [ ]:
cad.keys()

dict_keys(['matricula', 'dia de cadastro', 'mês de cadastro', 'modadelidade'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna uma lista dos valores do dicionário.

In [ ]:
cad.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Leitura de valores com `for`

In [ ]:
for chaves in cad.keys():
  print(cad[chaves])

2000168933
25
10
EAD

In [ ]:
for valores in cad.values():
  print(valores)

2000168933
25
10
EAD

In [ ]:
for chaves, valores in cad.items():
  print(chaves, valores)

matricula 2000168933
dia de cadastro 25
mês de cadastro 10
modadelidade EAD

In [ ]:
loja = {'nomes': ['televisão', 'celular', 'notebook', 'geladeira', 'fogão'],
        'precos': [2000, 1500, 3500, 4000, 1500]}
loja

{'nomes': ['televisão', 'celular', 'notebook', 'geladeira', 'fogão'],
 'precos': [2000, 1500, 3500, 4000, 1500]}

In [ ]:
for chave, elementos in loja.items():
  print(f'Chave: {chave}\nElementos:')
  for dado in elementos:
    print(dado)

Chave: nomes
Elementos:
televisão
celular
notebook
geladeira
fogão
Chave: precos
Elementos:
2000
1500
3500
4000
1500

In [ ]:
precos = [100.0, 400.0, 200.0]
soma = sum(precos)
soma

700.0

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
lista = [1,2,3]
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Exercicios

In [ ]:
papel = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
soma = sum(papel)
media = soma / len(papel)
print(f'A média de papel gasto é de R${media:.2f}')

A média de papel gasto é de R$3144.22

In [ ]:
# Dados de gastos
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

# Calculamos a média encontrando o valor total de gastos com sum
# e a quantidade total de compras realizadas com len
total_gastos = sum(gastos)
quantidade_compras = len(gastos)
media_gastos = total_gastos / quantidade_compras
# Resultado
print(f'A média de gastos é {media_gastos} reais.')

A média de gastos é 3144.222 reais.

In [ ]:
cont = 0
for valor in papel:
  if valor > 3000 :
    cont += 1

porcentagem = (cont / len(papel))*100

print(f'Esse é o total acima de 3000: {cont}')
print(f'Essa é a porcentagem: {porcentagem:.2f}')

Esse é o total acima de 3000: 7
Essa é a porcentagem: 70.00

In [ ]:
# Dados de gastos
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

# Variável que vai contar quantas compras foram feitas acima de 3000
contador_acima_3000 = 0
# Usamos o laço para ler a lista de gastos
for gasto in gastos:
  # Verificamos se o elemento está acima de 3000
  if gasto > 3000:
    # Acrescentamos mais um no contador, caso tenha algum valor acima de 3000
    contador_acima_3000 += 1

# Quantidade Compras
# Variável que vai ser utilizada para o cálculo da porcentagem
quantidade_compras = len(gastos)


# Com a contagem conseguimos calcular a porcentagem de valores acima de 3000 entre todas as compras
porcentagem_acima_3000 = 100 * (contador_acima_3000) / (quantidade_compras)

# Resultado
print(f'{contador_acima_3000} compras foram acima de R$3000,00.')
print(f'{porcentagem_acima_3000}% dos gastos foram acima de R$3000,00.')

7 compras foram acima de R$3000,00.
70.0% dos gastos foram acima de R$3000,00.

In [ ]:
listaqq = [int(input('Digite um número qualquer: ')),int(input('Digite um número qualquer: ')),
           int(input('Digite um número qualquer: ')),int(input('Digite um número qualquer: '))]
listaqq

Digite um número qualquer: 1
Digite um número qualquer: 2
Digite um número qualquer: 3
Digite um número qualquer: 4

[1, 2, 3, 4]

In [ ]:
# Lista que irá armazenar os 5 números inteiros
lista_numeros = []

# Criamos um laço que vai iterar 5 vezes para receber os 5 números
for i in range(0, 5):
  # Coletamos o valor e inserimos na lista por 5 vezes
  numero = int(input('Digite um número inteiro: '))
  lista_numeros.append(numero)
#Resultado
print(f'Lista de números inseridos: {lista_numeros}')

Digite um número inteiro: 1
Digite um número inteiro: 2
Digite um número inteiro: 3
Digite um número inteiro: 4
Digite um número inteiro: 5
Lista de números inseridos: [1, 2, 3, 4, 5]

In [ ]:
listaqq = []
listaqq.append(int(input('Digite um número qualquer: ')))
listaqq.append(int(input('Digite um número qualquer: ')))
listaqq.append(int(input('Digite um número qualquer: ')))
listaqq.append(int(input('Digite um número qualquer: ')))
listaqq.append(int(input('Digite um número qualquer: ')))
listaqq.reverse()
listaqq

Digite um número qualquer: 4
Digite um número qualquer: 3
Digite um número qualquer: 2
Digite um número qualquer: 5
Digite um número qualquer: 6

[6, 5, 2, 3, 4]

In [ ]:
# Lista que irá armazenar os 5 números inteiros
lista_numeros = []

# Criamos um laço que vai iterar 5 vezes para receber os 5 números
for i in range(0, 5):
  # Coletamos o valor e inserimos na lista por 5 vezes
  numero = int(input('Digite um número inteiro: '))
  lista_numeros.append(numero)
# Usamos da lógica de partição para imprimir o resultado
print(f'Lista de números invertida: {lista_numeros[::-1]}')

Digite um número inteiro: 4
Digite um número inteiro: 5
Digite um número inteiro: 2
Digite um número inteiro: 5
Digite um número inteiro: 6
Lista de números invertida: [6, 5, 2, 5, 4]

In [ ]:
nump = int(input('Digite um número: '))
eh_primo = True
cont = 0
listaP = []

for i in range(2, nump):
        if nump <= 1 :
          eh_primo = False
        elif nump == 2:
          eh_primo = True
        else:
            listaP.append(i)
            cont += 1

listaP

Digite um número: 10

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Coletamos o números
numero = int(input('Digite um número inteiro: '))
# Lista para receber os números primos
lista_primos = []
# Laço que vai rodar por todos os números abaixo do número digitado
for num in range(2, numero):
  # Primo é uma bandeira, ela permite sabermos se o valor analisado é ou não primo
  primo = True
  # Testamos se todos os números abaixo do especificado no primeiro laço podem
  # gerar uma divisão exata
  for teste_divisiveis in range(2, num):
    if num % teste_divisiveis == 0:
      # Caso seja divisivel por algum número entendemos que
      # o num não é primo e finalizamos o laço interno com break
      primo = False
      break
  # A condição se torna o resultado booleno de primo: False, ignoramos o condicional
  # True, executamos o bloco do if
  if primo:
    lista_primos.append(num)
# Resultado
print(f'Lista de números primos: {lista_primos}')

Digite um número inteiro: 10
Lista de números primos: [2, 3, 5, 7]

In [ ]:
datav = input('Digite uma data no formato dd/mm/aaaa: ')
dia, mes, ano = datav.split('/')

if dia >= '01' and dia <= '31' and mes >= '01' and mes <= '12' and ano >= '0001' and ano <= '9999':
  print('Data válida')
else :
  print('Data inválida')

Digite uma data no formato dd/mm/aaaa: 31/12/9999
Data válida

In [ ]:
# Coletamos a data
dia = int(input('Digite o dia: '))
mes = int(input('Digite o mês: '))
ano = int(input('Digite o ano: '))

# Análise de fevereiro
if mes == 2:
  # Verificamos se é ou não um ano bissexto
  if ano % 4 == 0 and (ano % 400 == 0 or ano % 100 != 0):
    dias_fevereiro = 29
  else:
    dias_fevereiro = 28
  # Verificamos se o dia colocado corresponde ao máximo de dias de fevereiro
  if dia >= 1 and dia <= dias_fevereiro:
    print('Data válida')
  else:
    print('Data inválida')
# Verificamos meses terminados em 31 dias
elif mes in [1, 3, 5, 7, 8, 10, 12]:
  if dia >= 1 and dia <= 31:
    print('Data válida')
  else:
    print('Data inválida')
# Verificamos meses terminados em 30 dias
elif mes in [4, 6, 9, 11]:
  if dia >= 1 and dia <= 30:
    print('Data válida')
  else:
    print('Data inválida')
# Caso o mês não esteja entre 1 e 12
else:
  print('Data inválida')

Digite o dia: 28
Digite o mês: 02
Digite o ano: 2026
Data válida

#Momento Projeto

In [ ]:
col = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
lista = []
for col in range(0, 10) :
  total = sum(col)
  lista.append(total/len(col)*100)
lista

In [ ]:
# Lista de crescimento das bactérias
bacterias_colonia = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
# Lista que irá armazenar as porcentagens de crescimento
porcentagem_crescimento = []
# Vamos percorrer os índices de 1 a 9 para compararmos o valor atual com o passado
for i in range(1, len(bacterias_colonia)):
  # seguimos o cálculo 100 * (amostra_atual - amostra_passada) / (amostra_passada)
  porcentagem = 100 * (bacterias_colonia[i] - bacterias_colonia[i-1]) / (bacterias_colonia[i-1])
  # adicionamos o resultado na lista porcentagem_crescimento
  porcentagem_crescimento.append(porcentagem)
# Resultado
print(f'Porcentagens de crescimento:\n{porcentagem_crescimento}')

Porcentagens de crescimento:
[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

In [ ]:
lista_id = []
doce = []
amargo = []

for i in range(0, 10):
  id = int(input('Digite o ID para saber se é doce ou amargo: '))
  lista_id.append(id)
  if id % 2 == 0:
    doce.append(id)

  elif id % 2 != 0:
    amargo.append(id)


print(f'Lista de ID: {lista_id}')
print(f'Lista de doces: {len(doce)}')
print(f'Lista de amargos: {len(amargo)}')

Digite o ID para saber se é doce ou amargo: 231
Digite o ID para saber se é doce ou amargo: 321
Digite o ID para saber se é doce ou amargo: 321
Digite o ID para saber se é doce ou amargo: 443
Digite o ID para saber se é doce ou amargo: 5521
Digite o ID para saber se é doce ou amargo: 231
Digite o ID para saber se é doce ou amargo: 112
Digite o ID para saber se é doce ou amargo: 115
Digite o ID para saber se é doce ou amargo: 53
Digite o ID para saber se é doce ou amargo: 6
Lista de ID: [231, 321, 321, 443, 5521, 231, 112, 115, 53, 6]
Lista de doces: 2
Lista de amargos: 8

In [ ]:
gabarito = {1:'d', 2: 'a', 3: 'c', 4: 'b', 5: 'a', 6: 'd', 7: 'c', 8: 'c', 9: 'a', 10: 'b'}
aluno = str(input('Digite o nome do aluno: '))
acertos = []
erros = []
nota = []
cont = 1

while cont < 11 :
  resposta = str(input(f'Digite a resposta da questão {cont}: '))
  if resposta.lower() == 'a' or resposta.lower() == 'b' or resposta.lower() == 'c' or resposta.lower() == 'd':
    if resposta.lower() == gabarito[cont]:
      acertos.append(resposta)
    else:
      erros.append(resposta)
  else :
    print('Resposta inválida, digite novamente')
    continue

  cont += 1




print(f'Nome do aluno: {aluno}')
print(f'Respostas corretas: {len(acertos)}')
print(f'Respostas incorretas: {len(erros)}')

Digite o nome do aluno: Bruni
Digite a resposta da questão 1: e
Resposta inválida, digite novamente
Digite a resposta da questão 1: d
Digite a resposta da questão 2: a
Digite a resposta da questão 3: c
Digite a resposta da questão 4: b
Digite a resposta da questão 5: a
Digite a resposta da questão 6: d
Digite a resposta da questão 7: c
Digite a resposta da questão 8: c
Digite a resposta da questão 9: a
Digite a resposta da questão 10: b
Nome do aluno: Bruni
Respostas corretas: 10
Respostas incorretas: 0

In [ ]:
temp = []
item = 0
for i in range(1, 13):
  temp.append(float(input(f'Digite a temperatura do {i}º mês:')))
mediatemp = sum(temp) / len(temp)
print(f'A média da temperatura anual é de {mediatemp:.2f}ºC')
for i in range(1,13) :
  if mediatemp < temp[item] :
    if i == 1 :
      print(f'O mês janeiro teve a temperatura acima da média')
    elif i == 2 :
      print(f'O mês fevereiro teve a temperatura acima da média')
    elif i == 3 :
      print(f'O mês março teve a temperatura acima da média')
    elif i == 4 :
      print(f'O mês abril teve a temperatura acima da média')
    elif i == 5 :
      print(f'O mês maio teve a temperatura acima da média')
    elif i == 6 :
      print(f'O mês junho teve a temperatura acima da média')
    elif i == 7 :
      print(f'O mês julho teve a temperatura acima da média')
    elif i == 8 :
      print(f'O mês agosto teve a temperatura acima da média')
    elif  i == 9 :
      print(f'O mês setembro teve a temperatura acima da média')
    elif i == 10 :
      print(f'O mês outubro teve a temperatura acima da média')
    elif i == 11 :
      print(f'O mês novembro teve a temperatura acima da média')
    elif i == 12 :
      print(f'O mês dezembro teve a temperatura acima da média')
    else :
      print(f'Nenhum Mês passou a média Anual')
      break
  item += 1

Digite a temperatura do 1º mês:10
Digite a temperatura do 2º mês:32
Digite a temperatura do 3º mês:43
Digite a temperatura do 4º mês:53
Digite a temperatura do 5º mês:23
Digite a temperatura do 6º mês:14
Digite a temperatura do 7º mês:23
Digite a temperatura do 8º mês:39
Digite a temperatura do 9º mês:23
Digite a temperatura do 10º mês:43
Digite a temperatura do 11º mês:12
Digite a temperatura do 12º mês:45
A média da temperatura anual é de 30.00ºC
O mês fevereiro teve a temperatura acima da média
O mês março teve a temperatura acima da média
O mês abril teve a temperatura acima da média
O mês agosto teve a temperatura acima da média
O mês outubro teve a temperatura acima da média
O mês dezembro teve a temperatura acima da média

In [ ]:
vendas = {'Produto A': 300, 'Produto B': 80, 'Produto C': 60,
          'Produto D': 200, 'Produto E': 250, 'Produto F': 30}
vendasTotal = sum(vendas.values())
print(f'O total de vendas foi de R${vendasTotal}')

for produto, quantidade in vendas.items():
  if quantidade == max(vendas.values()):
    print(f'O produto mais vendido foi: {produto}')

O total de vendas foi de R$920
O produto mais vendido foi: Produto A